.artistHeader{
    background-color: #2d3545;
    display: flex;
    justify-content: left;
    gap: 2rem;
    padding: 2px 10px;
    position: fixed;
    width: 100%;
    z-index: 1;
    position: relative;
}
.artistHeader h2{
    font-size: 45px;
}
.playButton{
    width: 50px;
    height: 50px;
    position: relative;
    background-color: rgb(14, 184, 14);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.playButton img{
    position: absolute;
    left: 12px;
    width: 30px;
    height: 30px;
}
.Artistarrow{
    position: absolute;
    right: 5%;
    top: 13px;
    display: flex;
    gap: 15px;
}
.Artistarrow img{
    width: 30px;
    cursor: pointer;
}
.Artistarrow img:nth-child(1){
    transform: rotate(90deg);
}
.Artistarrow img:nth-child(2){
    transform: rotate(-90deg);
}
.profile{
    position: relative;
    top: 50px;
}
.profile > .index > img{
    width: 100%;
    height: 270px;
    object-fit: cover;
    filter: grayscale(.9) opacity(.5) saturate(3) blur(2px) brightness(.3);
    object-position: calc(100%-100px, 100%-100px);
}
.profile .prof{
    position: absolute;
    top: 35px;
    left: 2%;
    display: flex;
}

.profile .prof img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    border: 2px solid white;
    box-shadow: 0px 0px 10px rgba(14, 184, 14, 0.63);
    object-fit: cover;
}

.profile .prof div{
    position: relative;
    left: 15%;
    top: 30px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.profile .prof div h1{
    font-size: 45px;
}
.verified{
    width: 25px !important;
    height: 25px !important;
    border: 0 !important;
    margin-right: 10px;
    position: relative;
    top: 5px;
}
.artistSongs .spaceBet{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}.artistSongs .songs{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.artistSongs .songs .songT{
    display: flex;
    border-top: 1px solid rgba(255, 255, 255, 0.096);
    border-bottom: 1px solid rgba(255, 255, 255, 0.096);
    padding: 5px 20px;
    padding-left: 50px;
    align-items: center;
    position: relative;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.089);
    border-radius: 10px;
}
.artistSongs .songs .songT img{
    width: 40px;
    cursor: pointer;
    height: 40px;
    border-radius: 5px;
    margin-right: 50px;
}
.artistSongs .songs .songT small{
    font-size: 12px;
    cursor: pointer;
}
.artistSongs .songs .songT h2{
    font-size: 22px;
}
.artistSongs .songs .songT .option{
    width: 3px;
    height: 20px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 7px;
    position: absolute;
    right: 50px;
    top: 15px;
}
.artistSongs .songs .songT .option::after{
    background-color: rgba(90, 90, 90, 0.226);
    content: "";
    z-index: -11;
    position: absolute;
    cursor: pointer;
    width: 35px;
    right: -16px;
    border-radius: 50%;
    top: -7px;
    height: 35px;
}
.artistSongs .songs .songT .option div{
    background-color: white;
    width: 100%;
    height: 100%;
}
.artistSongs .songs .songT small:hover{
    text-decoration: underline;
}
.profImg{
    border-radius: 10px !important;
    box-shadow: -5px 5px 10px rgba(255, 255, 255, 0.219) !important;
}
.ff{
    position: absolute;
    right: 15px;
    width: 35px;
    height: 35px;
    top: 7px;
    filter: opacity(0);
    cursor: pointer;
}
option{
    background-color: #2d3545;
    font-weight: 600;
    cursor: pointer;
}